.containerr {
  width: 25rem;
  height: 27rem;
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturata(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      input {
        padding: 20px;
        border: none;
        outline: none;
        background-color: rgba(17, 25, 40, 0.6);
        border-radius: 5px;
      color: white;
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          object-fit: cover;
          opacity: 0.6;
        }
      }

      button {
        width: 100%;
        padding: 20px;
        border: none;
        background-color: #1f8ef1;
        color: white;
        border-radius: 50px;
        font-weight: 500;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
          background-color: #1f8ff19c;
        }
      }
    }
    .register-link {
      color: #e0e0ee;
      font-weight: 500;
      font-size: 17px;

      a{
        color: rgb(52, 10, 137);
      }
    }
  }
}

@media screen and (max-width : 750px) {
  .containerr {
    width: 24rem;
  }
}

@media screen and (max-width : 500px) {
  .containerr {
    width: 22rem;
  }
}